<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>NASA Image of the Day</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Today's Image | <%- date %></h1>
    <h3><strong><%- title %></strong></h3>
    <img src=<%- url %>>
    <h4>More Information</h4>
    <p><%- description %></p>
    <button class="homeButton" onclick="window.location.href='/';">Return to Homepage</button>
    
</body>