<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Post Submitted</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
    <h3>Your post <u> <%- postTitle %> </u> has been submitted!</h3>
    <button id="newPost" onclick="window.location.href='/';">Return to homepage</button>
</body>